<div class="flex flex-col justify-center items-center h-screen bg-[url('/images/landing_page.jpg')] bg-cover rounded-lg ">
  
<h1 class="text-6xl">About</h1>
<form action="/about" method="post">
  <lable for="name">First name</lable>
  <input id="name" name="name" placeholder="First name" />
  <button type="submit" class="bg-blue-500 hover:bg-blue-300 transition-colors px-4 py-2 text-white rounded-lg">Submit</button>
</form>
</div>
